
*.mod

syntran
syntran.exe

test
test.exe

*.ppm
*.png
*.gv

/scratch

# Written by src/tests/test-src/transpile/test-07.syntran
test-07-scratch.tmp
/build

/docker/artifact-download/
/docker/artifact-download-*/

# C executable for multi-lang sample
/samples/bridge/bridge

# Generated at runtime by unit_test_include() in src/tests/test.f90
/src/tests/test-src/include/test-05-abs-gen.syntran
